Repository cloxkzii/worker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects, @cloudflare/wrangler

Use shared linkage for benchmarks
  .github/workflows/test.yml
  build/wd_cc_benchmark.bzl
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

Adds JSG_NAMED_INTERCEPT (#1288)
  src/workerd/jsg/jsg-test.c++
  src/workerd/jsg/jsg.h
  src/workerd/jsg/jsvalue.h
  src/workerd/jsg/resource.c++
  src/workerd/jsg/resource.h
  src/workerd/jsg/rtti.h
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

Remove params data member
  src/workerd/tests/test-fixture.c++
  src/workerd/tests/test-fixture.h
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

Extends `IsolateObserver` to include reporting of internal exceptions (#1353)
  src/workerd/jsg/observer.h
  src/workerd/jsg/util.c++
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

Only use -gsimple-template-names with clang
  .bazelrc
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

Log actor id when V8 deserialization fails
  src/workerd/api/BUILD.bazel
  src/workerd/api/actor-state-iocontext-test.c++
  src/workerd/api/actor-state.c++
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

Add option to create Actors with the TestFixture
  src/workerd/tests/test-fixture.c++
  src/workerd/tests/test-fixture.h
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

Export EmptyReadOnlyActorStorageImpl in server.h
  src/workerd/server/server.c++
  src/workerd/server/server.h
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

Make TestFixture constructor parameter an rvalue reference
  src/workerd/tests/bench-global-scope.c++
  src/workerd/tests/bench-regex.c++
  src/workerd/tests/test-fixture.c++
  src/workerd/tests/test-fixture.h
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

Port FormData tests from internal to workerd (#1355)
  src/workerd/api/tests/form-data-legacy-test.js
  src/workerd/api/tests/form-data-legacy-test.wd-test
  src/workerd/api/tests/form-data-test.js
  src/workerd/api/tests/form-data-test.wd-test
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

Update release workflow (#1357)
  .github/workflows/release.yml
Owners: @cloudflare/wrangler

Temporarily disable Node-style logging for service workers
  src/workerd/server/server.c++
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

Add missing benchmark deps
  WORKSPACE
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

Update CI dependencies
  .github/workflows/cla.yml
  .github/workflows/npm.yml
  .github/workflows/release.yml
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects, @cloudflare/wrangler

Update compatibility-date.capnp (#1363)
  src/workerd/io/compatibility-date.capnp
Owners: @cloudflare/wrangler

Port handful of crypto tests from internal to wd-test (#1360)
  src/workerd/api/tests/crypto-extras-test.js
  src/workerd/api/tests/crypto-extras-test.wd-test
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

Port crypto streams tests from internal to wd-test (#1361)
  src/workerd/api/tests/crypto-streams-test.js
  src/workerd/api/tests/crypto-streams-test.wd-test
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

Vectorize: optionally return metadata for a vector query (#1297)
  src/cloudflare/internal/compatibility-flags.d.ts
  src/cloudflare/internal/test/vectorize/vectorize-api-test.js
  src/cloudflare/internal/test/vectorize/vectorize-mock.js
  src/cloudflare/internal/vectorize-api.ts
  src/cloudflare/internal/vectorize.d.ts
  src/cloudflare/tsconfig.json
  src/cloudflare/vectorize.ts
  src/workerd/io/compatibility-date.capnp
  types/defines/vectorize.d.ts
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects, @cloudflare/wrangler

Make meta.h include what it uses
  src/workerd/jsg/meta.h
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

A few more nullptr to kj::none conversions
  src/workerd/api/basics.c++
  src/workerd/api/cache.c++
  src/workerd/api/http.c++
  src/workerd/api/streams/common.h
  src/workerd/api/streams/internal.h
  src/workerd/api/streams/readable.c++
  src/workerd/api/streams/standard.c++
  src/workerd/api/streams/transform.c++
  src/workerd/api/streams/transform.h
  src/workerd/api/trace.c++
  src/workerd/api/url-standard-test.c++
  src/workerd/api/url-standard.c++
  src/workerd/api/url-standard.h
  src/workerd/api/urlpattern.h
  src/workerd/io/worker.c++
  src/workerd/jsg/setup.h
  src/workerd/jsg/value.h
  src/workerd/util/sqlite-kv-test.c++
  src/workerd/util/sqlite.c++
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

A few compile_flags.txt refinements (#1372)
  compile_flags.txt
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

Vendor workerd.capnp in NPM package (#1365)
  npm/scripts/build-shim-package.mjs
Owners: @cloudflare/wrangler

Update Node version
  WORKSPACE
  package.json
  pnpm-lock.yaml
  src/node/tsconfig.json
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects, @cloudflare/wrangler

Fix typos in CONTRIBUTING.md (#1375)
  CONTRIBUTING.md
Owners: @cloudflare/workers-runtime-1, @cloudflare/workers-durable-objects

.github/CODEOWNERS:

* @cloudflare/workers-runtime-1 @cloudflare/workers-durable-objects
.github/workflows/npm.yml @cloudflare/wrangler
.github/workflows/npm-types.yml @cloudflare/wrangler
.github/workflows/release.yml @cloudflare/wrangler
npm/ @cloudflare/wrangler
build-releases.sh @cloudflare/wrangler
RELEASE.md @cloudflare/wrangler
package.json @cloudflare/wrangler
pnpm-lock.yaml @cloudflare/wrangler
types/ @cloudflare/wrangler
src/workerd/tools/ @cloudflare/wrangler
src/workerd/io/compatibility-date.capnp @cloudflare/wrangler
